* {
    margin: 0%;
    padding: 0%;
}
body {
    background: fixed no-repeat  linear-gradient(to top, 
    #021236,#115497,#5dc0ea) 
}
input {
    width: 100%;
}
.robot {
    width: auto;
}
label {
    width: 100%;
}